# Configuration de la base de données
DB_HOST=b4axghdxhenq548eiv7e-mysql.services.clever-cloud.com
DB_PORT=21304
DB_USER=uhjdawer9hqmlnfq
DB_PASSWORD=Lisolo123.
DB_NAME=qkcdRaHJ03BEPop3bjU

# Configuration du serveur
PORT=5001
NODE_ENV=development

# Configuration JWT
JWT_SECRET=cy_systems_super_secret_jwt_key_2024_enterprise_management
JWT_EXPIRE=7d

# Configuration CORS (optionnel - par défaut accepte toutes les origines)
# CORS_ORIGIN=http://localhost:3000

# Configuration de l'upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880
