# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Lisolo123.
DB_NAME=cy_systems_enterprise

# Configuration du serveur
PORT=5001
NODE_ENV=development

# Configuration JWT
JWT_SECRET=cy_systems_super_secret_jwt_key_2024_enterprise_management
JWT_EXPIRE=7d

# Configuration CORS
CORS_ORIGIN=http://localhost:3000

# Configuration de l'upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880
